:root{
  --gray:#373739;
  --lightGray:#19191a;
  --black: #020202;
  --cyan: #60d4ea;
  --lightCyan:#9ae5f3;
}

*{
  margin: 0;
  padding: 0;
}

.background{
  background-image: linear-gradient(45deg,black, var(--cyan));
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.calculator{
  position: absolute;
  background-color: var(--black);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;
}

.button{
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 1px;
  background-color: var(--lightGray);
  border: none;
  color: white;
  border-radius: 3px;
  transition: 0.5s;
}

.button:hover{
  background-color: var(--cyan);
  color:var(--gray);
}

#result{
  background-color: white;
  width: 207px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
  border-radius: 3px;
}